<p>
Witamy w kursie {{title | uppercase}} <br>
Liczba PI to: {{pi | number: '1.1-2' }} <br>
Dzisiaj jest: {{date | date: 'dd-MM-yy' }} <br>
<!-- Mój pies to: {{dog?.name}} <br> ? checks if object dog is not undefind or null -->
<!-- Ma {{dog?.age}} lat <br> -->

<!-- {{showDog() | lowercase}} -->
</p>
 
<strong>*ngFor</strong>
<p>Dni tygodnia</p>
<ul>
    <li *ngFor = "let day of days" >
        {{day}}
    </li>
</ul>

<div *ngFor="let dog of dogs" >Mój pies ma na imię {{ dog.name }}, ma {{ dog.age }} lat(a)</div>